<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="range-input-container">
  <label for="range">Enter the range (in kilometers) to search for hotels:</label>
  <input type="number" id="range" min="1" #rangeInput click="searchHotels()">
  <button type="submit" id="submitRange" (click)="searchHotels()">Search</button>
</div>

<!-- The app selects the shortest distance between the user's location and the hotel's location. 
  Example from json: Ramada and grand italia by car are listed with different distances, but on foot, 
  Grand italia is reachable in 5km. When the user inputs 5 (km), we are displayed both hotels-->

<div *ngFor="let hotel of hotels" class="hotel-actions-container">
  <h2>{{hotel.name}}</h2> 
  <p>{{hotel.address}}</p>
  <button type="button" id="bookRoom">Book a Room</button>
  <button type="button" id="leaveReview">Leave a Review</button>
</div>


